{{>layout/header}}  <!--현재 머스테치 파일을 기준으로 다른 경로의 파일을 가져온다.-->

    <h1>스프링부트로 시작하는 웹 서비스 Ver.2.4-github action</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#loginUserName}} <!-- key값이 유효할 때, #key /key 사이 적힌 내용이 유효하다 if(key) -->
                    Logged in as: <span id="user">{{loginUserName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a> <!--/logout : 스프링시큐리티에서 기본으로 제공하는 로그아웃 URL. 컨트롤러를 만들 필요가 없다.-->
                {{/loginUserName}}
                {{^loginUserName}}  <!--userName이 false거나 빈 List일 때  아래 코드가 유효함. if(!key) -->
                    <!--설정파일에 등록한 redirect-uri_template 값에 맞춰 자동 등록된다. /oauth2/authorization까지 고정. /뒤에 각 소셜로그인코드(ex naver)적어주면 됨.-->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/loginUserName}}
            </div>
        </div>
        <br>
        <!-- 목록 출력 영역1 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}} <!--posts라는 List를 순회한다. 반복문-->
                <tr>
                    <td>{{id}}</td> <!--posts의 필드 사용-->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}